{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    <!-- <li><span style="font-size: 20px">{{ publication.title }}</span></li>
     -->
     <li  class="no-bullet"><span class="publication-title">{{ publication.title }}</span></li>

    <div class="publication-authors">
      &emsp;{% assign authors_list = publication.authors | split: ", " %}
      {% for author in authors_list %}
        {% if author == "Xinyue Ma" or author == "Xinyue Ma*" %}
        <span style="font-weight: bold; text-decoration: underline; font-size: 20px">{{ author }}</span>
        {% else %}
        <span style="font-size: 20px">{{ author }}</span>
        {% endif %}
        {% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
    <div class="publication-conference">
      &emsp; {% assign pre_links_text = publication.conference | split: "[" | first %}
      <span style="font-weight: bold; color: rgba(236, 0, 0, 0.993);font-size: 20px">{{ pre_links_text }}</span>,
      {% assign links = publication.conference | remove: pre_links_text | split: "[" %}
      {% for link in links %}
        {% if link contains 'PDF' or link contains 'Slides' or link contains 'Code' %}
          [<a href="{{ link | split: ']' | last | split: '(' | last | split: ')' | first }}"><span style="font-size: 20px">{{ link | split: ']' | first }}</span></a>]
        {% endif %}
      {% endfor %}
    </div>
  </div><!--//item-->

  {% endfor %}

</section><!--//section-->
{% endif %}
