/* ======= Base ======= */
body {
  font-family: "Roboto", sans-serif;
  color: $text-color-secondary;
  background: $smoky-white;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: darken($theme-color, 15%);
  &:hover {
    text-decoration: underline;
    color: darken($theme-color, 30%);
  }
  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.no-bullet {
  list-style-type: none; /* Removes the bullet point */
  margin: 0; /* Optional: Remove default margins */
  padding: 0; /* Optional: Remove default padding */
}
.wrapper {
  display: grid;
  grid-template-columns: 80% 1fr; //repeat(10, 1fr);
  background: $theme-color;
  max-width: 2500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
  // grid-column: span 3;
  width: 100%;
  min-width: 300px; /* Maximum width (adjust as needed) */
  order: $sidebar-order;
  background: $theme-color;
  color: #fff;
  a {
    color: #fff;
  }
  .profile-container {
    // padding: 10px;
    // background: darken($theme-color, 10%);
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .tagline {
    color: rgba(256, 256, 256, 0.6);
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    //used for profile image
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .contact-list {

    .fas,
    .fab,
    .far {
      margin-right: 5px;
      font-size: 20px;
      vertical-align: middle;
    }
    li {
      margin-bottom: 15px;
      font-size: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .container-block {
    padding: 30px;
  }
  .container-block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .degree {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .education-container {
    .item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .meta {
      // color: rgba(256, 256, 256, 0.6);
      font-weight: 600;
      font-size: 16;
      margin-bottom: 3px;
      margin-top: 0;
    }
    .time {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      font-size: 16;
      margin-bottom: 3px;
    }
  }
  .languages-container {
    .lang-desc {
      font-size: 16px;
      color: rgba(256, 256, 256, 0.6);
    }
  }

  .languages-list {
    margin-bottom: 0;
    li {
      font-size: 16;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main-wrapper {
  // grid-column: span 7;
  order: $resume-order;
  background: #fff;
  padding: 60px;
  .section-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: darken($theme-color, 15%);
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px
  }
  .section {
    margin-bottom: 60px;
  }

  .experiences-section,
  .educations-section {
    .item {
      margin-bottom: 30px;
      margin-left: 10px;

    }
  }
  .upper-row,
  .second-upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
    display: flex;
  }
  .job-title,
  .degree{
    color: $text-color;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    flex: 75%;
  }
  .cert-title{
    color: $text-color;
    font-size: 20px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    flex: 75%;
  }
  .time{
    font-size: 20px;
    text-decoration: underline;
    color: $text-color;
    text-align: right; /* Aligns the text to the right */
    white-space: nowrap; /* Prevents wrapping */
    width: auto; /* Ensures no explicit width constraint */
    // overflow: hidden; /* Hides any overflowing text if necessary */
  }
  .details{
    font-size: 18px;
    white-space: pre-line;
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .cert-url {
    position: absolute;
    right: 0;
    top: 0;
    color: $text-grey;
    flex: 25%;
  }
  .company{
    font-size: 18px;
    color: $text-grey;
    margin-bottom: 10px;
    margin-left: 10px;


  }
  .university,
  .cert-org {
    margin-bottom: 10px;
    color: $text-grey;
  }

  .project-title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 5px;
    color: darken($theme-color, 15%);
  }
  .project-tagline {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    // color: darken($theme-color, 15%);
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }

  .publication-title {
    font-size: 20px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1px;
    margin-left: 10px;
    text-indent: -10px; /* Removes the margin-left from the first line */
    padding-left: 10px; /* Applies left padding to all lines */
    // list-style-type: none; /* Removes the bullet point */
  }
  .publication-authors {
    font-size: 16px;
    font-style: italic;
    // text-decoration: underline;
    color: $text-color;
    margin-left: 20px;
    text-indent: -20px; /* Removes the margin-left from the first line */
    padding-left: 20px; /* Applies left padding to all lines */
    margin-bottom: 1px;
  }
  .publication-conference {
    font-size: 16px;
    margin-left: 20px;
    text-indent: -20px; /* Removes the margin-left from the first line */
    padding-left: 20px; /* Applies left padding to all lines */
  }
  .publications-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
}

.skillset {
  .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  .level-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .level-bar {
    height: 12px;
    margin-left: 50px;
    background: $smoky-white;
  }
  .level-bar-inner {
    height: 12px;
    margin-left: 50px;
    background: lighten($theme-color, 15%);
  }
}

.footer {
  padding-top: 30px;
  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }

  .fa-heart {
    color: $heart;
  }
}

// <style>
// .summary {
//   font-size: 20px;
//   white-space: pre-line; /* Makes it respect newline characters */
// }
// .summary p {
//   margin-bottom: 1em; /* Adjust the space between paragraphs/lines */
//   text-indent: 2em; /* Adjust for desired indentation */
// }
// </style>