/* Extra small devices (phones, less than 768px) */
// @media (max-width: 767px) {
@media (max-width: 991px) {
    body {
    padding: 0;
  }
  .avatar {
    width: 50%; /* Adjust the width to your preference */
    max-width: 150px; /* Maximum width (adjust as needed) */
    margin-left: auto; /* Center the avatar */
    margin-right: auto; /* Center the avatar */
    margin-top: auto; /* Center the avatar */
    margin-bottom: auto; /* Center the avatar */
    border-radius: 50%; /* Make the avatar round */
    display: block; /* Needed to enable margin auto to work for block level elements */
  }
  .sidebar-wrapper {
    position: static;
    width: 100%; 
    width: inherit;
  }

  .wrapper {
    display: block;
    margin: 10 auto;
    width: 100%;
  }
  .profile-container {
    // padding: 10px;
    // background: darken($theme-color, 10%);
    background: rgba(0, 0, 0, 0.2);
    width: 50%;
    text-align: center;
    color: #fff;
  }

  .main-wrapper {
    padding: 10px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }
  .main-wrapper .publication-title {
    margin-left: 10px;
    text-indent: -10px; /* Removes the margin-left from the first line */
    padding-left: 10px; /* Applies left padding to all lines */
  }
  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
  .section-title {
    padding-top: 10px
  }
}
/* Small devices (tablets, 768px and up) */
// @media (min-width: 576px) {
// // @media (min-width: 768px) {
//   }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .level-title {
    float: left;
    width: 30%;
    margin-bottom: 0;
  }

  .skillset .level-bar {
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
  }
}

.skillset .level-bar-inner {
  width: auto;
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}
